<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyth.web.mapper.BeaconMapper" >
  <resultMap id="BaseResultMap" type="com.zyth.web.bean.Beacon" >
    <result column="deveui" property="deveui" jdbcType="VARCHAR" />
    <result column="appeui" property="appeui" jdbcType="VARCHAR" />
    <result column="msgtype" property="msgtype" jdbcType="VARCHAR" />
    <result column="beaconnum" property="beaconnum" jdbcType="INTEGER" />
    <result column="beaconmsg" property="beaconmsg" jdbcType="VARCHAR" />
    <result column="rcvtime" property="rcvtime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="rsv" property="rsv" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getLatestData" resultMap="BaseResultMap" parameterType="java.util.Date" >
    select *,b.user_id
    from beacon a
    inner join user b on a.deveui = b.deveui
    <if test="deveui != null" >
    	where a.rcvtime > #{latestTime,jdbcType=TIMESTAMP}
    </if>
  </select>

  <insert id="insert" parameterType="com.zyth.web.bean.Beacon" >
    insert into beacon (deveui, appeui, msgtype,
      beaconnum, beaconmsg, rcvtime,
      rsv)
    values (#{deveui,jdbcType=VARCHAR}, #{appeui,jdbcType=VARCHAR}, #{msgtype,jdbcType=VARCHAR},
      #{beaconnum,jdbcType=INTEGER}, #{beaconmsg,jdbcType=VARCHAR}, #{rcvtime,jdbcType=TIMESTAMP},
      #{rsv,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyth.web.bean.Beacon" >
    insert into beacon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deveui != null" >
        deveui,
      </if>
      <if test="appeui != null" >
        appeui,
      </if>
      <if test="msgtype != null" >
        msgtype,
      </if>
      <if test="beaconnum != null" >
        beaconnum,
      </if>
      <if test="beaconmsg != null" >
        beaconmsg,
      </if>
      <if test="rcvtime != null" >
        rcvtime,
      </if>
      <if test="rsv != null" >
        rsv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deveui != null" >
        #{deveui,jdbcType=VARCHAR},
      </if>
      <if test="appeui != null" >
        #{appeui,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="beaconnum != null" >
        #{beaconnum,jdbcType=INTEGER},
      </if>
      <if test="beaconmsg != null" >
        #{beaconmsg,jdbcType=VARCHAR},
      </if>
      <if test="rcvtime != null" >
        #{rcvtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rsv != null" >
        #{rsv,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>